<template>
  <link rel="import" href="./styles/film-styles.html">
  <film>
    <div class="layout vertical full-height">
      <div class="layout horizontal flex">
        <div class="flex film-poster" background-image.bind="film.urlPoster"></div>
        <div class="flex-3 layout vertical">
          <div class="flex">
            <h1>${film.title}</h1>
            <span>Director: </span><span>${film.directors | arrayToString:'name'}</span>
            <span>Writer: </span><span>${film.writers | arrayToString:'name'}</span>
          </div>
          <div class="flex">
            <paper-button if.bind="film.userRating == null" cmd="command.bind: openRaterCommand"><iron-icon icon="star-border"></iron-icon></paper-button>
            <paper-button if.bind="film.userRating != null" cmd="command.bind: openRaterCommand">
              <iron-icon icon="star"></iron-icon>
              ${film.userRating}
            </paper-button>
            <paper-button if.bind="!film.inWatchlist" cmd="command.bind: addToWatchlistCommand; parameter.bind: film"><iron-icon icon="bookmark-border"></iron-icon></paper-button>
            <paper-button if.bind="film.inWatchlist" cmd="command.bind: deleteFromWatchlistCommand; parameter.bind: film"><iron-icon icon="bookmark"></iron-icon></paper-button>
          </div>
        </div>
      </div>
      <div class="flex-3" role="listbox">
        <!--paper-icon-item repeat.for="actor of film.actors">
          <div class="actor-profile-photo" background-image.bind="actor.urlPhoto" item-icon></div>
          <paper-item-body two-line>
            <div>${actor.actorName}</div>
            <div secondary>${actor.character}</div>
          </paper-item-body>
        </paper-icon-item-->
      </div>
    </div>
    <!--div class="layout horizontal wrap">
      <div class="flex">
        <paper-card heading="${film.title}" image="${film.urlPoster}" alt="${film.title}">
          <div class="card-content">
            Emmentaler or Emmental is a yellow, medium-hard cheese that originated in the area around Emmental, Switzerland. It is one of the cheeses of Switzerland, and is sometimes known as Swiss cheese.
          </div>
          <div class="card-actions">
            <paper-button cmd="command.bind: addToWatchlistCommand; parameter.bind: film">Add to Watchlist</paper-button>
            <paper-button>Explore!</paper-button>
          </div>
        </paper-card>
      </div>
      <div class="flex-2" role="listbox">
        <paper-icon-item repeat.for="actor of film.actors">
          <div class="actor-profile-photo" background-image.bind="actor.urlPhoto" item-icon></div>
          <paper-item-body two-line>
            <div>${actor.actorName}</div>
            <div secondary>${actor.character}</div>
          </paper-item-body>
        </paper-icon-item>
      </div>
    </div-->
  </film>
</template>
