<template>
  <paper-drawer-panel>
    <paper-header-panel drawer>
      <paper-toolbar class="sidebar-toolbar">
        <div class="layout horizontal center-center header-container">
          <div class="flex profile-pic-container">
            <img class="profile-pic" src="${userInfo.profilePic}"/>
          </div>
          <div class="flex-2">
            ${userInfo.fullName}
          </div>
          <div class="flex-end">
            <paper-icon-button icon="social:notifications"></paper-icon-button>
          </div>
        </div>
      </paper-toolbar>
      <div class="sidebar-content">
        <paper-menu>
          <paper-item cmd="command.bind: navigateHomeCommand">${'home.sidebar.home' | t}</paper-item>
          <paper-submenu opened>
            <paper-menu class="sidebar-sections menu-content">
              <paper-item>${'home.sidebar.watchlist' | t}</paper-item>
              <paper-item>${'home.sidebar.ratings' | t}</paper-item>
              <paper-item>${'home.sidebar.lists' | t}</paper-item>
            </paper-menu>
          </paper-submenu>
          <paper-item class="layout horizontal" cmd="command.bind: logoutCommand">
            <div class="flex">${'home.sidebar.logout' | t}</div>
            <iron-icon class="flex-end" icon="exit-to-app"></iron-icon>
          </paper-item>
        </paper-menu>
      </div>
    </paper-header-panel>
    <paper-header-panel main>
      <paper-toolbar>
        <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
        <div>Title</div>
      </paper-toolbar>
      <div> Main content... </div>
    </paper-header-panel>
  </paper-drawer-panel>
</template>
