<template>
  <paper-drawer-panel>
    <paper-header-panel drawer>
      <user-toolbar>
        <paper-material elevation="2" class="sidebar-toolbar">
          <div class="sidebar-profile-pic">
            <img class="profile-pic" src="${userInfo.profilePic}"/>
          </div>
        </paper-material>
        <paper-menu class="layout vertical sidebar-profile-menu">
          <paper-submenu focused>
            <paper-item class="menu-trigger">
              <div class="layout vertical full-width">
                <div class="sidebar-profile-fullname">${userInfo.fullName}</div>
                <div class="layout horizontal justified sidebar-profile-username">
                  ${userInfo.username}
                  <iron-icon icon="arrow-drop-down"></iron-icon>
                </div>
              </div>
            </paper-item>
            <paper-menu class="menu-content">
              <paper-icon-item cmd="command.bind: logoutCommand">
                ${'home.sidebar.logout' | t}
                <iron-icon icon="exit-to-app" item-icon></iron-icon>
              </paper-icon-item>
            </paper-menu>
          </paper-submenu>
        </paper-menu>
      </user-toolbar>
      <paper-menu class="menu-nav">
        <paper-item cmd="command.bind: navigateHomeCommand">${'home.sidebar.home' | t}</paper-item>
        <paper-submenu opened>
        <paper-menu class="sidebar-sections menu-content">
          <paper-item>${'home.sidebar.watchlist' | t}</paper-item>
          <paper-item>${'home.sidebar.ratings' | t}</paper-item>
          <paper-item>${'home.sidebar.lists' | t}</paper-item>
        </paper-menu>
        </paper-submenu>
      </paper-menu>
    </paper-header-panel>
    <paper-header-panel main>
      <paper-toolbar>
        <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
        <div>Title</div>
        <paper-progress class="middle fit" value="60"></paper-progress>
      </paper-toolbar>
      <div> Main content... </div>
    </paper-header-panel>
  </paper-drawer-panel>
</template>
